<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="logo">
                    <img src="../../../assets/DCS_Logo.png" alt="Description of the image">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="head-right">
                    <ul>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i> <a
                                href="mailto:sales@aliqan.com">wwww.address</a></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i> Sales Enquiry: <a href="tel:09899662532">+91
                                9899662532,</a> Jobs/HR: <a href="tel:09625894971">+91 96258 94971</a></li>
                        <li class="free-quote"><a href="https://www.aliqantechnologies.com/request-a-free-quote">Request
                                A Free Quote </a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="main-nav">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div id="navbar" class="navbar-collapse collapse">
                            <ul id="menu-header-menu" class="nav navbar-nav">
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"
                                    id="menu-item-150"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-150 active">
                                    <a title="Home" href="https://www.aliqantechnologies.com/">Home</a>
                                </li>
                                <li>
                                    <select class="form-control headerLinks">
                                        <option value="aboutUs">About Us</option>
                                        <option value="visionMission">Vision/Mission</option>
                                        <option value="dcsAdvantage">DCS Advantage</option>
                                        <option value="leadershipTeam">Leadership Team</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="form-control headerLinks">
                                        <option value="-1">Services</option>
                                        <option value="1">Mobile Application Development</option>
                                        <option value="2">Web Development</option>
                                        <option value="3">Digital Marketing</option>
                                        <option value="4">E-commerce Application Development</option>
                                        <option value="5">Game Development</option>
                                        <option value="6">Staff Augmentation</option>
                                        <option value="7">Testing Services</option>
                                        <option value="8">Designing Services</option>
                                    </select>
                                </li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-150 active">
                                    <select class="form-control headerLinks">
                                        <option>PORTFOLIO</option>
                                        <option>Products</option>
                                    </select>
                                </li>
                               <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-150 active"> <button class="btn btn-default headerLinks" (click)="gotoJobPage()">Jobs</button></li>
                               <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-150 active"><button class="btn btn-default headerLinks">BLOG</button></li>
                               <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-150 active"> <button class="btn btn-default headerLinks">CONTACT US</button></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>